.container {
    display: flex;
    justify-content: center;
    padding: 5px;

    input {
        margin-right: 10px;
        border-radius: 5px;
    }

    button {
        border-radius: 5px;
        height: 20px;
    }
}